.inicial{
	padding-bottom: 80px;
}

.txt_preto{
	color: black;
}

.btn-warning{
	background-color: #FF4500 !important;
}

.margem{
	/*margin-top: 80px;*/
	margin-left: 80px;
	
}

.cadastros{
	position: relative !important;
	padding: 20px !important;
	height: 4px !important;
	width: 80px !important;
}